@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800;900&display=swap');

* {
  font-family: 'Syne', sans-serif;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
}

.float {
  animation: float 4s ease-in-out infinite;
}